{% extends 'base.html' %}
{% load static %}
{% block title%}
About
{% endblock title %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
    <strong> {{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="map">
            <!-- <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-4 col-md-7">
                        <div class="map__inner">
                            <h6>COlorado</h6>
                            <ul>
                                <li>1000 Lakepoint Dr, Frisco, CO 80443, USA</li>
                                <li>Sweetcake@support.com</li>
                                <li>+1 800-786-1000</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="map__iframe">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241317.11609859!2d72.74109963251523!3d19.08219783933704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1651941993919!5m2!1sen!2sin"
                    height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <div class="contact__address">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="contact__address__item">
                        <h6>Goregaon</h6>
                        <ul>
                            <li>
                                <span class="icon_pin_alt"></span>
                                <p>2/205, Adarsh Nagar, Goregaon (W), Mumbai</p>
                            </li>
                            <li><span class="icon_headphones"></span>
                                <p>+91 9587845874</p>
                            </li>
                            <li><span class="icon_mail_alt"></span>
                                <p>Sugartown-goregaon@support.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="contact__address__item">
                        <h6>Kandivali</h6>
                        <ul>
                            <li>
                                <span class="icon_pin_alt"></span>
                                <p>5/102, Mahavir Nagar, Kandivali (W), Mumbai</p>
                            </li>
                            <li><span class="icon_headphones"></span>
                                <p>+91 8978452563</p>
                            </li>
                            <li><span class="icon_mail_alt"></span>
                                <p>Sugartown-kandivali@support.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="contact__address__item">
                        <h6>Andheri</h6>
                        <ul>
                            <li>
                                <span class="icon_pin_alt"></span>
                                <p>3/204, Ram Nagar, Andheri (E), Mumbai</p>
                            </li>
                            <li><span class="icon_headphones"></span>
                                <p>+91 9658457856</p>
                            </li>
                            <li><span class="icon_mail_alt"></span>
                                <p>Sugartown-andheri@support.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="contact__text">
                    <h3>Contact With us</h3>
                    <ul>
                        <li>Representatives or Advisors are available:</li>
                        <li>Mon-Fri: 10:00am to 10:00pm</li>
                        <li>Sat-Sun: 10:00am to 2:00pm</li>
                    </ul>
                    <img src="img/cake-piece.png" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="contact__form">
                    {% if request.user.is_authenticated %}
                    <form action="/contact/submit/" method="post" name="contactusform">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name" name="name" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="email" placeholder="Email" name="email" required>
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message" name="message" required></textarea>
                                <button type="submit" class="site-btn">Send Us</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <form action="/login/">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="email" placeholder="Email" required>
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message" required></textarea>
                                <button type="submit" class="site-btn">Send Us</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->


</body>
{% endblock body%}