{% extends 'base.html' %}
{% load static %}
{% block title%}
Home
{% endblock title %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
    <strong> {{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<body>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="hero__text">
                                <h2>Making your life sweeter one bite at a time!</h2>
                                <a href="#" class="primary-btn">Our Products</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="{% static 'img/hero/dessert2.jpg' %}">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="hero__text">
                                <h2>Stressed is desserts spelled backwards!</h2>
                                <a href="#" class="primary-btn">Our Products</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="about__text">
                        <div class="section-title">
                            <span>About Sugar Town</span>
                            <h2>Cakes and bakes from the house of Queens!</h2>
                        </div>
                        <p>The "Sugar Town" is a Indian Brand that started as a small family business. The owners are
                            Mr. Paarth Soni and Mr. Prinkesh Soni, supported by a staff of 50 employees.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about__bar">
                        <div class="about__bar__item">
                            <p>Cake design</p>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="95"></span>
                            </div>
                        </div>
                        <div class="about__bar__item">
                            <p>Cake Class</p>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="80"></span>
                            </div>
                        </div>
                        <div class="about__bar__item">
                            <p>Cake Recipes</p>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="90"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Categories Section Begin -->
    <div class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <span class="flaticon-029-cupcake-3"></span>
                            <h5>Cupcake</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <span class="flaticon-034-chocolate-roll"></span>
                            <h5>Chocolates</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <span class="flaticon-011-ice-cream-11"></span>
                            <h5>Ice Creams</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <span class="flaticon-006-macarons"></span>
                            <h5>Cookies</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <span class="flaticon-006-macarons"></span>
                            <h5>Donut</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <span class="flaticon-033-cake-10"></span>
                            <h5>Cakes</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-1.jpg'%}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Butterscotch</a></h6>
                            <div class="product__item__price">₹100.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-2.jpg'%}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Cookies and Cream</a></h6>
                            <div class="product__item__price">₹150.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-3.jpg'%}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Gluten Free Mini Dozen</a></h6>
                            <div class="product__item__price">₹120.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-4.jpg'%}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Sweet Rainbow</a></h6>
                            <div class="product__item__price">₹170.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                            data-setbg="{% static 'img/shop/Chocolate-Truffle-Gateaux.jpg'%}">
                            <div class="product__label">
                                <span>Cake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Chocolate Truffle</a></h6>
                            <div class="product__item__price">₹400.00/kg</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                            data-setbg="{% static 'img/shop/Spellbinding-Red-Velvet-Cake.jpg'%}">
                            <div class="product__label">
                                <span>Cake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Red Velvet</a></h6>
                            <div class="product__item__price">₹500.00/kg</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/gulabjamun.jpg'%}">
                            <div class="product__label">
                                <span>Cake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Gulab jamun</a></h6>
                            <div class="product__item__price">₹550.00/kg</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                            data-setbg="{% static 'img/shop/StrawberryCake_1_.jpg'%}">
                            <div class="product__label">
                                <span>Cake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Strwaberry Delicacy</a></h6>
                            <div class="product__item__price">₹600.00/kg</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Class Section Begin -->
    <section class="class spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="class__form">
                        <div class="section-title">
                            <span>Class cakes</span>
                            <h2>Made from your <br />own hands</h2>
                        </div>
                        {% if request.user.is_authenticated %}
                        
                        <form action="/requirements/" method="post" name="requirementsform">
                            {% csrf_token %}
                            <input type="text" placeholder="Name" name="name" required>
                            <input type="text" placeholder="Phone" name="phone" required>
                            <input type="email" placeholder="Email ID" name="email" required>

                            <input type="text" placeholder="Your requirements" name="requirements" required>
                            <button type="submit" class="site-btn">Submit</button>
                        </form>
                        {% else %}
                        <form action="/login/">
                            <input type="text" placeholder="Name" required>
                            <input type="text" placeholder="Phone" required>
                            <input type="email" placeholder="Email ID" required>

                            <input type="text" placeholder="Your requirements" required>
                            <button type="submit" class="site-btn">Submit</button>
                        </form>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="class__video set-bg" data-setbg="{% static 'img/class-video.jpg'%}">
                <a href="https://www.youtube.com/watch?v=8PJ3_p7VqHw&list=RD8PJ3_p7VqHw&start_radio=1"
                    class="play-btn video-popup"><i class="fa fa-play"></i></a>
            </div>
        </div>
    </section>
    <!-- Class Section End -->

    <!-- Team Section Begin -->
    <section class="team spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="section-title">
                        <span>Our team</span>
                        <h2>Sweet Baker </h2>
                    </div>
                </div>
                <!-- <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="team__btn">
                        <a href="#" class="primary-btn">Join Us</a>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item set-bg" data-setbg="{% static 'img/team/team-1.jpg'%}">
                        <div class="team__item__text">
                            <h6>Randy Butler</h6>
                            <span>Decorater</span>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item set-bg" data-setbg="{% static 'img/team/team-2.jpg'%}">
                        <div class="team__item__text">
                            <h6>Maria D'Souza</h6>
                            <span>Baker</span>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item set-bg" data-setbg="{% static 'img/team/team-3.jpg'%}">
                        <div class="team__item__text">
                            <h6>Joe King</h6>
                            <span>Decorater</span>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item set-bg" data-setbg="{% static 'img/team/team-4.jpg'%}">
                        <div class="team__item__text">
                            <h6>Harry Styles</h6>
                            <span>Baker</span>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Testimonial</span>
                        <h2>Our client say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial__slider owl-carousel">
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <!-- <div class="testimonial__author__pic">
                                    <img src="{% static 'img/testimonial/ta-1.jpg'%}" alt="">
                                </div> -->
                                <div class="testimonial__author__text">
                                    <h5>Apurva Gandhi</h5>
                                    <span>Mumbai</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <p>I ordered the Gulab Jamun Cake. It was delicious.

                                Thank you Sugar Town!</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <!-- <div class="testimonial__author__pic">
                                    <img src="{% static 'img/testimonial/ta-2.jpg'%}" alt="">
                                </div> -->
                                <div class="testimonial__author__text">
                                    <h5>Pranav Rastogi</h5>
                                    <span>Banglore</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <p>Thank you for a delicious cake! You made my son's 18th Birthday! Thank you for making our
                                day extra special!!.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <!-- <div class="testimonial__author__pic">
                                    <img src="{% static 'img/testimonial/ta-1.jpg'%}" alt="">
                                </div> -->
                                <div class="testimonial__author__text">
                                    <h5>Rupa shah</h5>
                                    <span>Delhi</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <p> We loved our wedding cake so much & wanted to say, thank you very much! Perfect.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <!-- <div class="testimonial__author__pic">
                                    <img src="{% static 'img/testimonial/ta-2.jpg'%}" alt="">
                                </div> -->
                                <div class="testimonial__author__text">
                                    <h5>Ashish Mistry</h5>
                                    <span>Ahmedabad</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <p>Your Cake was fabulous! Every piece was savored. Wish we ordered more... Thanks for
                                delivering all the way up to Ghost Ranch . We appreciate your service.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <!-- <div class="testimonial__author__pic">
                                    <img src="{% static 'img/testimonial/ta-1.jpg'%}" alt="">
                                </div> -->
                                <div class="testimonial__author__text">
                                    <h5>Sneha Patel</h5>
                                    <span>Mumbai</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <p> Just a quick note to let you know how much we appreciate all your attention when helping
                                pick out our cake. It turned out perfectly,was delivered as promised and tasted great
                                too! Thank you & all the staff.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <!-- <div class="testimonial__author__pic">
                                    <img src="{% static 'img/testimonial/ta-2.jpg'%}" alt="">
                                </div> -->
                                <div class="testimonial__author__text">
                                    <h5>Mehul Makwana</h5>
                                    <span>Mumbai</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <p>We can't thank you enough for doing such wonderful work on our wedding cake. Everything
                                was
                                beautiful and tasted wonderful. Thank you for all the time, care and effort.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-0">
                    <div class="instagram__text">
                        <div class="section-title">
                            <span>Follow us on instagram</span>
                            <h2>Sweet moments are saved as memories.</h2>
                        </div>
                        <h5><i class="fa fa-instagram"></i> @SugarTown</h5>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="instagram__pic">
                                <img src="{% static 'img/instagram/instagram-1.jpg'%}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="instagram__pic middle__pic">
                                <img src="{% static 'img/instagram/instagram-2.jpg'%}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="instagram__pic">
                                <img src="{% static 'img/instagram/instagram-3.jpg'%}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="instagram__pic">
                                <img src="{% static 'img/instagram/instagram-4.jpg'%}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="instagram__pic middle__pic">
                                <img src="{% static 'img/instagram/instagram-5.jpg'%}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="instagram__pic">
                                <img src="{% static 'img/instagram/instagram-3.jpg'%}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->

    <!-- Map Begin -->
    <div class="map">
        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-7">
                    <div class="map__inner">
                        <h6>Mumbai</h6>
                        <ul>
                            <li>1/103 Mahavir Nagar Mumbai, India</li>
                            <li>SugarTown@support.com</li>
                            <li>+91 945-120-1203</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="map__iframe">
            <!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10784.188505644011!2d19.053119335158936!3d47.48899529453826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1543907528304"
                height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241317.11609859!2d72.74109963251523!3d19.08219783933704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1651941993919!5m2!1sen!2sin"
                height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <!-- Map End -->




</body>



{% endblock body%}