{% extends 'base.html' %}
{% load static %}
{% block title%}
Cart
{% endblock title %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
    <strong> {{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<body>
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Shopping cart</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <style>
                            .breadcrumb__links a:after {
                                content: none;
                            }
                        </style>
                        <!-- <a href="/">Availabl Wallet Balance: </a> -->
                        <a href="/addbalance"><span style="color: black;">Available Wallet Balance:
                                ₹{{wallet_balance}}.00</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in cart_detail %}
                                <tr>
                                    <td class="product__cart__item">
                                        {% comment %} <div class="product__cart__item__pic">
                                            <img src="img/shop/cart/cart-1.jpg" alt="">
                                        </div> {% endcomment %}
                                        <div class="product__cart__item__text">
                                            <h6>{{i.product_name}}</h6>
                                            <h5>₹{{i.product_price}}</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">

                                        <div class="quantity1">


                                            <div class="pro-qty1">
                                                <form action="{% url 'altercart' product_name=i.product_name %}"
                                                    method="post">
                                                    {% csrf_token %}
                                                    <input type="number" name="quantityproduct" value="{{i.quantity}}"
                                                        style="border: none;
                                                    height: 100%;
                                                    width: 82px;
                                                    font-size: 16px;
                                                    font-weight: 600;
                                                    color: #111111;
                                                    float: left;
                                                    text-align: center;">
                                                </form>
                                            </div>

                                        </div>

                                    </td>
                                    <td class="cart__price">₹{{i.total_price}}</td>
                                    <td class="cart__close"><a
                                            href="{% url 'deleteitem' product_name=i.product_name %}"><span
                                                class="icon_close"></span></a></td>
                                </tr>

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/shop/" style="background-color: black; color:white">Continue Shopping</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="/cart/discount_coupon" method="post">
                            {% csrf_token %}
                            <input type="text" placeholder="Coupon code" name="couponname">
                            <button type="submit">Apply</button>
                        </form>
                        <h5 style="margin-top: 25px; color: black;">Available Coupons:</h5>
                        {% for i in discount_coupons %}
                        <p style=" margin-top:20px; font-weight: bold;">Coupon code: "{{i.couponcode}}"
                            {{i.discount_percent}}% on orders above
                            ₹{{i.validprice}}
                        </p>

                        {% endfor%}
                    </div>  -->
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>₹ {{total_cart_cost}}</span></li>
                            <li>Total <span>₹ {{total_cart_cost}}</span></li>

                        </ul>
                        <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->


</body>

{% endblock body%}