{% extends 'base.html' %}
{% load static %}
{% block title%}
Home
{% endblock title %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
    <strong> {{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<body>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Shop</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="shop__option">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="shop__option__search">
                            <form action="/shop/products/" method="post" name="productform">
                                {% csrf_token %}
                                <input type="text" placeholder="Search by keyword (eg: Cupcake)" name="producttype">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <!-- <div class="shop__option__right">
                            <select>
                                <option value="">Default sorting</option>
                                <option value="">A to Z</option>
                                <option value="">1 - 8</option>
                                <option value="">Name</option>
                            </select>
                            <a href="#"><i class="fa fa-list"></i></a>
                            <a href="#"><i class="fa fa-reorder"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/londondairy.jpg'%}">
                            <div class="product__label">
                                <span>Ice Creams
                                </span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">London Dairy</a></h6>
                            <div class="product__item__price">₹200.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='London Dairy Icecream' product_price=200 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/baskin.jpg'%}">
                            <div class="product__label">
                                <span>Ice Creams
                                </span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Baskin Robbins</a></h6>
                            <div class="product__item__price">₹300.00 </div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Baskin Robbins Icecream' product_price=300 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/walls.jpg'%}">
                            <div class="product__label">
                                <span>Ice Creams
                                </span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Kwality Walls</a></h6>
                            <div class="product__item__price">₹100.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Kwality Walls Icecream' product_price=100 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/havmor.jpg'%}">
                            <div class="product__label">
                                <span>Ice Creams
                                </span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Havmor</a></h6>
                            <div class="product__item__price">₹120.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Havmor Icecream' product_price=120 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/amul.jpg'%}">
                            <div class="product__label">
                                <span>Ice Creams
                                </span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Amul</a></h6>
                            <div class="product__item__price">₹150.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Amul Icecream' product_price=150 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/magnum.jpg'%}">
                            <div class="product__label">
                                <span>Ice Creams
                                </span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Magnum</a></h6>
                            <div class="product__item__price">₹150.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Magnum Icecream' product_price=150 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shop__last__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__pagination">
                                <a href="/shop/">1</a>
                                <a href="/shop/products/Cakes">2</a>
                                <a href="/shop/products/Chocolates">3</a>
                                <a href="/shop/products/Cookies">4</a>
                                <a href="/shop/products/Donuts">5</a>
                                <a href="/shop/products/icecreams">6</a>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <!-- <div class="shop__last__text">
                            <p>Showing 1-9 of 10 results</p>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Shop Section End -->


</body>

{% endblock body %}