{% extends 'base.html' %}
{% load static %}
{% block title%}
Home
{% endblock title %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
    <strong> {{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<body>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Shop</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="shop__option">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="shop__option__search">
                            <form action="/shop/products/" method="post" name="productform">
                                {% csrf_token %}
                                <input type="text" placeholder="Search by keyword (eg: Cupcake)" name="producttype">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <!-- <div class="shop__option__right">
                            <select>
                                <option value="">Default sorting</option>
                                <option value="">A to Z</option>
                                <option value="">1 - 8</option>
                                <option value="">Name</option>
                            </select>
                            <a href="#"><i class="fa fa-list"></i></a>
                            <a href="#"><i class="fa fa-reorder"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/silk.jpg'%}">
                            <div class="product__label">
                                <span>Chocolates</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Dairy Milk - Silk</a></h6>
                            <div class="product__item__price">₹100.00/per piece</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/galaxy.jpg'%}">
                            <div class="product__label">
                                <span>Chocolates</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Galaxy</a></h6>
                            <div class="product__item__price">₹200.00/per piece</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/mars.jpg'%}">
                            <div class="product__label">
                                <span>Chocolates</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Mars</a></h6>
                            <div class="product__item__price">₹150.00/per piece</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/snickers.jpg'%}">
                            <div class="product__label">
                                <span>Chocolates</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Snickers</a></h6>
                            <div class="product__item__price">₹200.00/per piece</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/tobleronw.jpg'%}">
                            <div class="product__label">
                                <span>Chocolates</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Toblerone</a></h6>
                            <div class="product__item__price">₹300.00/per piece</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/schimitten.jpg'%}">
                            <div class="product__label">
                                <span>Chocolates</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Schimitten</a></h6>
                            <div class="product__item__price">₹350.00/per piece</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/lindt.jpg'%}">
                            <div class="product__label">
                                <span>Chocolates</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Lindt</a></h6>
                            <div class="product__item__price">₹320.00/per piece</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/kitkat.jpg'%}">
                            <div class="product__label">
                                <span>Chocolates</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Kit Kat</a></h6>
                            <div class="product__item__price">₹120.00/per piece</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/shop/product-9.jpg">
                            <div class="product__label">
                                <span>Chocolates</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">VEGAN/GLUTEN FREE</a></h6>
                            <div class="product__item__price">₹500.00/per piece</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/shop/product-10.jpg">
                            <div class="product__label">
                                <span>Chocolates</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">SWEET CELTICS</a></h6>
                            <div class="product__item__price">₹500.00/per piece/div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/shop/product-11.jpg">
                            <div class="product__label">
                                <span>Chocolates</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">SWEET AUTUMN LEAVES</a></h6>
                            <div class="product__item__price">₹500.00/per piece</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/shop/product-12.jpg">
                            <div class="product__label">
                                <span>Chocolates</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">PALE YELLOW SWEET</a></h6>
                            <div class="product__item__price">₹500.00/per piece</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="#">Add to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
                <div class="shop__last__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__pagination">
                                <a href="/shop/">1</a>
                                <a href="/shop/products/Cakes">2</a>
                                <a href="/shop/products/Chocolates">3</a>
                                <a href="/shop/products/Cookies">4</a>
                                <a href="/shop/products/Donuts">5</a>
                                <a href="/shop/products/icecreams">6</a>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <!-- <div class="shop__last__text">
                            <p>Showing 1-9 of 10 results</p>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Shop Section End -->


</body>

{% endblock body %}