{% extends 'base.html' %}
{% load static %}
{% block title%}
Home
{% endblock title %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
    <strong> {{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<body>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Shop</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="shop__option">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="shop__option__search">
                            <form action="/shop/products/" method="post" name="productform">
                                {% csrf_token %}
                                <input type="text" placeholder="Search by keyword (eg: Cupcake)" name="producttype">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <!-- <div class="shop__option__right">
                            <select>
                                <option value="">Default sorting</option>
                                <option value="">A to Z</option>
                                <option value="">1 - 8</option>
                                <option value="">Name</option>
                            </select>
                            <a href="#"><i class="fa fa-list"></i></a>
                            <a href="#"><i class="fa fa-reorder"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                            data-setbg="{% static 'img/shop/Chocolate-Truffle-Gateaux.jpg'%}">
                            <div class="product__label">
                                <span>Cakes</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">CHOCOLATE TRUFFLE</a></h6>
                            <div class="product__item__price">₹400.00/kg</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='CHOCOLATE TRUFFLE-cake' product_price=400 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                            data-setbg="{% static 'img/shop/Spellbinding-Red-Velvet-Cake.jpg'%}">
                            <div class="product__label">
                                <span>Cakes</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">RED VELVET</a></h6>
                            <div class="product__item__price">₹500.00/kg</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='RED VELVET-cake' product_price=500 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/gulabjamun.jpg'%}">
                            <div class="product__label">
                                <span>Cakes</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Gulab jamun</a></h6>
                            <div class="product__item__price">₹550.00/kg</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Gulab jamun-cake' product_price=550 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                            data-setbg="{% static 'img/shop/StrawberryCake_1_.jpg'%}">
                            <div class="product__label">
                                <span>Cakes</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Strawberry Delicacy</a></h6>
                            <div class="product__item__price">₹600.00/kg</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a
                                    href="{% url 'cartload' product_name='Strawberry Delicacy-cake' product_price=600 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/blackforest.jpg'%}">
                            <div class="product__label">
                                <span>Cakes</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Black Forest</a></h6>
                            <div class="product__item__price">₹450.00/kg</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Black Forest-cake' product_price=450 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                            data-setbg="{% static 'img/shop/GermanChocolateCake.jpg'%}">
                            <div class="product__label">
                                <span>Cakes</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">German Chocolate</a></h6>
                            <div class="product__item__price">₹550.00/kg</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='German Chocolate-cake' product_price=550 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/dutch.jpg'%}">
                            <div class="product__label">
                                <span>Cakes</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Dutch Chocolate</a></h6>
                            <div class="product__item__price">₹600.00/kg</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Dutch Chocolate-cake' product_price=600 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/pineapple.jpg'%}">
                            <div class="product__label">
                                <span>Cakes</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Pineapple Cake</a></h6>
                            <div class="product__item__price">₹500.00/kg</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Pineapple-cake' product_price=500 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shop__last__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__pagination">
                                <a href="/shop/">1</a>
                                <a href="/shop/products/Cakes">2</a>
                                <a href="/shop/products/Chocolates">3</a>
                                <a href="/shop/products/Cookies">4</a>
                                <a href="/shop/products/Donuts">5</a>
                                <a href="/shop/products/icecreams">6</a>


                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <!-- <div class="shop__last__text">
                            <p>Showing 1-9 of 10 results</p>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Shop Section End -->


</body>

{% endblock body %}