{% extends 'base.html' %}
{% load static %}

{% block title%}
Home
{% endblock title %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert"
    style="background-color: cyan">
    <strong> {{ message }}</strong>
    <button type=" button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<body>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Shop</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->



    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="shop__option">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="shop__option__search">
                            <form action="/shop/products/" method="post" name="productform">
                                {% csrf_token %}
                                <input type="text" placeholder="Search by keyword (eg: Cupcake)" id="searchbar"
                                    name="producttype">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>

                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <!-- <div class="shop__option__right">
                            <select>
                                <option value="">Default sorting</option>
                                <option value="">A to Z</option>
                                <option value="">1 - 8</option>
                                <option value="">Name</option>
                            </select>
                            <a href="#"><i class="fa fa-list"></i></a>
                            <a href="#"><i class="fa fa-reorder"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-1.jpg' %}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Butterscotch</a></h6>
                            <div class="product__item__price">₹100.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Butterscotch-cupcake' product_price=100 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg=" {% static 'img/shop/product-2.jpg' %}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Cookies and Cream</a></h6>
                            <div class="product__item__price">₹150.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a
                                    href="{% url 'cartload' product_name='cookie and cream-cupcake' product_price=150 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-3.jpg' %}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Gluten Free Mini Dozen</a></h6>
                            <div class="product__item__price">₹120.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a
                                    href="{% url 'cartload' product_name='Gluten free Mini Dozen-cupcake' product_price=120 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-4.jpg' %}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Sweet Rainbow</a></h6>
                            <div class="product__item__price">₹170.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Sweet Rainbow-cupcake' product_price=170 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-5.jpg' %}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Vanilla Salted Caramel</a></h6>
                            <div class="product__item__price">₹170.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a
                                    href="{% url 'cartload' product_name='Vanilla Salted Carmael-cupcake' product_price=170 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-6.jpg' %}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">German Chocolate</a></h6>
                            <div class="product__item__price">₹150.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a
                                    href="{% url 'cartload' product_name='German Chocolate-cupcake' product_price=150 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-7.jpg' %}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Dulce De Leche</a></h6>
                            <div class="product__item__price">₹200.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Dulce De Leche-cupcake' product_price=200 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-8.jpg' %}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Mississippi Mud</a></h6>
                            <div class="product__item__price">₹180.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='Mississippi Mud-cupcake' product_price=180 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-9.jpg' %}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">VEGAN/GLUTEN FREE</a></h6>
                            <div class="product__item__price">₹130.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a
                                    href="{% url 'cartload' product_name='VEGAN GLUTEN FREE-cupcake' product_price=130 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-10.jpg' %}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">SWEET CELTICS</a></h6>
                            <div class="product__item__price">₹190.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cartload' product_name='SWEET CELTICS-cupcake' product_price=190 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-11.jpg' %}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">SWEET AUTUMN LEAVES</a></h6>
                            <div class="product__item__price">₹210.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a
                                    href="{% url 'cartload' product_name='SWEET AUTUMN LEAVES-cupcake' product_price=210 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/product-12.jpg' %}">
                            <div class="product__label">
                                <span>Cupcake</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">PALE YELLOW SWEET</a></h6>
                            <div class="product__item__price">₹140.00</div>
                            <div class="cart_add">
                                {% if request.user.is_authenticated %}
                                <a
                                    href="{% url 'cartload' product_name='PALE YELLOW SWEET-cupcake' product_price=140 %}">Add
                                    to cart</a>
                                {% else %}
                                <a href="/login"> Add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop__last__option">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="shop__pagination">
                            <a href="/shop/">1</a>
                            <a href="/shop/products/Cakes">2</a>
                            <a href="/shop/products/Chocolates">3</a>
                            <a href="/shop/products/Cookies">4</a>
                            <a href="/shop/products/Donuts">5</a>
                            <a href="/shop/products/icecreams">6</a>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <!-- <div class="shop__last__text">
                            <p>Showing 1-9 of 10 results</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->


</body>

{% endblock body %}